.body-mainPage{
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top: 30px;
}
.breadcrumbs{
    margin-top: 30px;
    display: flex;
}
.L-sidePage{
    display: flex;
    flex-direction: column;
    width: 68%;
    padding-right: 20px;
}
.R-sidePage{
    /* display: flex;
    flex-direction: column;
   
    width: 40%;
    background-color: rgb(206, 51, 77); */
    box-sizing: border-box;
    padding-right: 30px;

width: 32%;
height: 1996px;
/* height: auto; */
left: 1216px;
top: 170px;

background: #FFFFFF;
border: 1px solid #F0F0F0;
border-radius: 6px;
}
.video-div{
    /* width:98%; */
    height:531px;
    position: relative;
}
.video-heading{
    position: absolute;
    top: 0;
    margin-left: 60px;
}
.video-heading-style{
    font-family: 'Proxima Nova Soft';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 24px;
color: white;
}
.video-footer{
    position: absolute;
    width:98%;
    height: 101px;
    /* left: 1px; */
    top: 368px;

background: linear-gradient(90deg, rgba(0, 0, 0, 0.83) 17.46%, rgba(0, 0, 0, 0) 90.6%);
}
.intro-footer-video{
    font-family: 'Proxima Nova Soft';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    display: flex;
    color: #FFFFFF;
    margin-left: 60px;
}
.video-info-foot{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}
.video-info-foot-style{
    font-family: 'Proxima Nova Soft';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */


color: #111111;
}
.video-head-design{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.design-btn{
    background-color: #FCBE4B;
    width: 91px;
    border: none;
    border-radius: 6px;
height: 34px;
margin-top: 10px;
}
.border{
    border: 1px solid #F0F0F0;
    margin-top: 33px;
}
.blue-Data{
    font-family: 'Proxima Nova Soft';
    flex: start;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
/* or 144% */
color: #2BB5F4;
margin-top: 30px;
}
.black-data{
    font-family: 'Proxima Nova Soft';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: justify;
color: #000000;
margin-top: 26px;
}
.nav-bar{
    height: 80px;
    width: 100%;
    background-color: #FCBE4B;
}
.couses-Include{
    font-family: 'Proxima Nova Soft';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
margin-left: 30px;
color: #111111;
}
.courses-folder{
    display: flex;
  
    flex-direction: column;
}
.img-name{
    display: flex;
    margin-left: 30px;
    margin-top: 16px;
    /* justify-content: space-between; */
}
.font-courses{
    font-family: 'Proxima Nova Soft';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */


color: #7A7A7A;
}
.join-btn{
    margin-top: 36px;
    width: 107%;
height: 83px;
left: 1216px;
top: 1567px;
border: none;
background: #EC5D52;
border-radius: 0px;
text-align: center;
font-size: 25px;
color: #FFFFFF;
}