.R-sidePage {
  /* display: flex;
    flex-direction: column;
   
    width: 40%;
    background-color: rgb(206, 51, 77); */
  box-sizing: border-box;
  padding-right: 30px;

  width: 32%;
  height: 1996px;
  /* height: auto; */
  left: 1216px;
  top: 170px;

  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
}
.video-div {
  /* width:98%; */
  height: 531px;
  position: relative;
}

.video-info-foot {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}
.video-info-foot-style {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  color: #111111;
}
.video-head-design {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
.design-btn {
  background-color: #fcbe4b;
  width: 91px;
  border: none;
  border-radius: 6px;
  height: 34px;
  margin-top: 10px;
}
.border {
  border: 1px solid #f0f0f0;
  margin-top: 33px;
}
.blue-Data {
  font-family: "Proxima Nova Soft";
  flex: start;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  color: #2bb5f4;
  margin-top: 30px;
}
.black-data {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
  color: #000000;
  margin-top: 26px;
}
.nav-bar {
  height: 80px;
  width: 100%;
  background-color: #fcbe4b;
}
.couses-Include {
  font-family: "Proxima Nova Soft", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-left: 30px;
  color: #111111;
}
.courses-folder {
  display: flex;

  flex-direction: column;
}
.img-name {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 16px;
}
.font-courses {
  font-family: "Proxima Nova Soft", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  width: auto;
  color: #7a7a7a;
}
.join-btn {
  margin-top: 36px;
  width: 100%;
  height: 83px;
  left: 1216px;
  top: 1567px;
  border: none;
  background: #ec5d52;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;

  font-size: 25px;
  cursor: pointer;
  color: #ffffff;
}

.join {
  width: 220px;
  height: 50px;

  font-family: "Proxima Nova Soft", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #ffffff;
  background-color: #ec5d52;
  border: none;
  cursor: pointer;
}
.CoursesInclude-div {
  margin-top: 3%;
  width: 319px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.OVERVIEW {
  height: 720px;
  overflow-y: scroll;
  width: 100%;
}

.Whatyoulearn-div {
  margin-top: 3%;
  width: 385px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10%;
}
.Requirements-div {
  width: 421px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10%;
}
.InstructorDetails-div {
  margin-top: 5%;
  height: 90px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.showmore {
  color: #ec5d52;
  border: none;
  text-decoration: none;
  background-color: white;
  font-family: "Proxima Nova Soft", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
